In [44]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

from sklearn.model_selection import train_test_split  
from sklearn.svm import SVC 
from sklearn.metrics import classification_report, confusion_matrix, mean_squared_error

In [45]:
def chiSquared(a,b):
    res = np.sqrt(0.5*np.sum((a-b)**2/(a+b+1e-6)))
    return res

In [46]:
def chiSquared2(a,b):
    #res = np.sqrt(0.5*np.sum((a-b)**2/(a+b+1e-6)))
    return 0.5*np.sum((a-b)**2/(a+b+1e-6))

In [47]:
lbpdata = pd.read_csv("awe-awet_lbp.csv")

In [48]:
lbpdata.shape

(1000, 9972)

In [49]:
lbpdata.head()

,class,v1,v2,v3,v4,v5,v6,v7,v8,v9,...,v9962,v9963,v9964,v9965,v9966,v9967,v9968,v9969,v9970,v9971
0,1,121,78,76,76,77,76,75,80,82,...,31,27,14,17,33,37,34,31,21,7
1,1,120,75,73,68,64,69,75,70,64,...,12,9,9,10,19,20,13,18,23,10
2,1,122,75,69,64,64,64,72,77,76,...,26,18,13,22,27,17,9,14,23,13
3,1,113,65,65,71,72,66,65,65,64,...,4,5,9,12,23,28,12,2,2,1
4,1,112,64,64,64,64,64,64,64,64,...,12,1,3,2,6,15,18,21,13,1

In [50]:
X = lbpdata.drop('class', axis=1)  
y = lbpdata['class']

In [51]:
X.shape, y.shape

((1000, 9971), (1000,))

In [26]:
y.head(12)

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    2
11    2
Name: class, dtype: int64

In [27]:
#X = X.head(100)

In [54]:
#fmap = np.zeros((100,100))
y_pred = np.zeros(1000)

In [55]:
for i in range(len(X)):
    minimun = 1e+10;
    #print('i: ' + str(i))
    for j in range (len(X)):
        res = chiSquared(X.values[i], X.values[j])
        #print(res)
        #fmap[i][j] = res  
        if res < minimun and i != j:
            minimun = res
            y_pred[i] = y[j]
    #print('y_pred[i]:' + str(y_pred[i]))

In [56]:
print(np.sqrt(mean_squared_error(y, y_pred)))

29.9295673206

In [57]:
count = 0
for i in range (len(y)):
    if y[i] == y_pred[i]:
        count = count + 1
print(str(count/len(y))+'%')

0.405%

In [43]:
count

73